body * {
    color:                          rgba(46, 44, 44, 0.88)      !important;
    background:                     hsla(0, 3%, 72%, 0.23)      !important;
    outline:          0.25rem solid hsla(210, 100%, 100%, 0.50) !important;
}

.debug-center {
    display:            flex;
    justify-content:    center;
    align-items:        center;
}

